@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

body{
    background-color: #1e1e1e;
}

.primary{
  color: crimson;
  font-weight: 300;
}

.no-cursor{
  cursor: not-allowed !important;
}